@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --font-family: 'Inter', sans-serif;
    --primary-color: #F3F5FC;
    --secondary-color: #0A3871;
    --terciary-color: #495057;
    --quaternary-color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: var(--primary-color);
    padding: 40px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    height: 100vh;
}

main .container-text{
    width: 70%;
    height: 100%;
    margin-left: 40px;
    margin-right: 20px;
}

main .container-text .textForm{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    margin-top: 100px;
    gap: 20px;
    width: 100%;
    height: 85%;
}

main .container-text .buttons{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

main .container-text .textForm .buttons span{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10px;
    font-family: var(--font-family);
    font-size: 12px;
    color: var(--terciary-color);
}

main .container-text .textForm textarea{
    width: 100%;
    height: 300px;
    border: none;
    resize: none;
    font-family: var(--font-family);
    font-size: 32px;
    color: var(--secondary-color);
    background-color: var(--primary-color);

}

main .container-text .textForm textarea::-webkit-input-placeholder { 
    color: var(--secondary-color); 
}

main .container-text .textForm textarea:focus{
    outline: none;
}

main .container-text .textForm button{
    width: 328px;
    height: 67px;
    margin-top: 20px;
    border-radius: 24px;
    border: none;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--quaternary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

main .container-text .textForm #btnDescriptografar{
    margin-left: 2%;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: #D8DFE8;
}

main .container-resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background-color: var(--quaternary-color);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

main .container-resultado img{
    width: 336px;
    height: 304px;
}

main .container-resultado .banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 336px;
    margin-top: 20px;
}

main .container-resultado .banner-text h2{    
    font-family: var(--font-family);
    font-size: 24px;
    color: #343A40;
    text-align: center;
}   

main .container-resultado .banner-text p{
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--terciary-color);
    text-align: center;
    margin-top: 20px;
}

main .container-resultado .resultado{
    height: 100%;
}

main .container-resultado .resultado .text{
    font-family: var(--font-family);
    font-size: 24px;
    color: var(--terciary-color);
    text-align: start;
    width: 336px;
    height: 70%;
    text-wrap: wrap;
}   

main .container-resultado .resultado button{
    width: 336px;
    height: 67px;
    margin-top: 20px;
    border-radius: 24px;
    border: 1px solid var(--secondary-color);
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--secondary-color);
    background-color: var(--quaternary-color);
    cursor: pointer;
}

@media (max-width: 481px) {
    html{
        width: 100% !important;
    }

    body{
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    header{
        height: auto;
    }

    main{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    main .container-text{
        margin-bottom: 20px;
    }

    main .container-text, .container-resultado{
        width: 100%;
        margin: 0;
    }

    main .container-text .textForm, .buttons{
        width: 100% !important;
    }

    main .container-text .textForm button{
        width: 343px;
        height: 67px;
        margin: auto;
    }

    main .container-text .textForm #btnDescriptografar{
        margin: 30px auto 0 auto;
    }

    main .container-text .textForm .buttons{
        flex-direction: column;
    }

    main .container-resultado .banner img{
        display: none;
    }

    main .container-resultado{
        width: 327px;
        height: auto;
        margin: 60px auto 0 auto;
    }

    main .container-resultado .banner .banner-text{
        margin: 20px;
    }

    main .container-resultado .resultado{
        height: auto;
        margin: 20px;
    }

    main .container-resultado .resultado .text{
        width: 90%;
        height: auto;
        margin: 20px auto;
        overflow-x: auto;
    }

    main .container-resultado .resultado button{
        width: 279px;
        height: 67px;
        margin: 10px auto;
    }

}

@media (min-width: 482px) and (max-width: 800px) {

    html{
        width: 100% !important; 
        height: 100%;
    }

    body, main{
        flex-direction: column !important;
        height: auto;
        width: 100% !important;
        height: 100%;
    }

    main{
        justify-content: space-between;
    }

    header{
        height: auto;
    }

    main .container-text .textForm {
        flex-direction: column;
    }

    main .container-text .buttons{
        flex-direction: row;
    }

    main .container-resultado{
        width: 688px !important;
        height: auto;
        margin: 40px auto 0 auto;
    }

    main .container-resultado .banner img{
        display: none;
    }

    main .container-resultado .resultado{
        width: 688px;
        height: auto;
        padding: 20px 60px;
    }

    main .container-resultado .resultado .text{
        width: 624px;
        height: auto;
        margin: auto;
        overflow-x: auto;
    }

    main .container-resultado .resultado button{
        width: 624px;
        height: 67px;
        margin: 10px auto;
    }

}
